<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1POST</title>
  <link href="https://unpkg.com/plume-css@1.0.13/lib/plume-all.css" rel="stylesheet" rel="preload" as="style" media="all" defer>
  <link rel="stylesheet" href="https://unpkg.com/1post@1.0.3/themes/{{blog_theme}}.css">

  <style>
    :root {
      --pm-paragraph-font-size: 1.2em
    }

    .plume .pm-link, .plume a {
      font-size: var(--pm-paragraph-font-size);
    }
  </style>  
</head>
<body class="plume">
  <div class="pm-container">
    <h1>1POST</h1>
    <h2 class="pm-text-primary pm-h4">A tiny, fast and fun static site generator</h2>
    <hr>
  
    <!-- Edit as yout want -->

    <h2>Posts</h2>

    <p>No post yet...</p>
  </div>
</body>
</html>