<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyBlog</title>
  <link href="https://unpkg.com/plume-css@1.0.11/lib/plume-all.css" rel="stylesheet" rel="preload" as="style" media="all" defer>
  <style>:root { --pm-app-container-max-width: 760px }</style>
</head>
<body class="plume">
  <div class="pm-container">
    <h1>TinyBlog</h1>
    <h2 class="pm-text-primary pm-h4">A tiny, fast and fun static site generator</h2>
    <hr>
  
    <!-- Edit as Yout Want -->

    <h2>Posts</h2>

    <p>No post yet...</p>
  </div>
</body>
</html>