<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  
  <!-- SEO -->
  <meta name="author" content="">
  <meta property="og:title" content="">
  <meta property="og:type" content="article">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">`
  <meta name="description" content="">
  <meta name="twitter:card" content="">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image:src" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content=""/>
  <!--  -->

  <meta http-equiv="Content-Language" content="{{locale}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="./favicon.png">
  <link href="https://unpkg.com/plume-css@1.0.11/lib/plume-all.css" rel="stylesheet" rel="preload" as="style" media="all" defer>
  <style>:root { --pm-app-container-max-width: 760px }</style>
</head>
<body class="plume">
  <div class="pm-container">
    <h1>Post Title</h1>
    <p><a href="/">← ← ←</a> &nbsp; {{date}}</p>

    <!-- Post Content -->

    <p>
      <strong>Posted by: </strong>
      <a href="{{author_url}}" target="_blank" rel="noreferrer noopener">{{author}}</a>
    </p>
  </div>
</body>
</html>