:root {
  --pm-app-container-max-width: 760px;
  --pm-font-family-secondary: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  --pm-primary-color: #000000;
  --pm-secondary-color: #f0f0f0;
  --pm-color-success: #048b4b;
  --pm-app-surface-color: transparent;
  --pm-app-ground-color: transparent;
  --pm-mark-border-radius: 0px;
  --pm-button-secondary-text-color: #444;
  --pm-button-border-radius: 0px;
  --pm-input-height: 48px;
  --pm-input-border-radius: 0px;
  --pm-input-switch-size: 26px;
  --pm-pre-code-border-radius: 0px;
}